*.exe
*/bubblesort/bubblesort
*/cocktailshakersort/cocktailshakersort
*/combsort/combsort
*/cyclesort/cyclesort
*/gnomesort/gnomesort
*/heapsort/heapsort
*/insertionsort/insertionsort
*/mergesort/mergesort
*/oddevensort/oddevensort
*/quicksort/quicksort
*/selectionsort/selectionsort
*/shellsort/shellsort
*/strandsort/strandsort
*/treesort/treesort

*/bubblesort/*.J
*/cocktailshakersort/*.J
*/combsort/*.J
*/cyclesort/*.J
*/gnomesort/*.J
*/heapsort/*.J
*/insertionsort/*.J
*/mergesort/*.J
*/oddevensort/*.J
*/quicksort/*.J
*/selectionsort/*.J
*/shellsort/*.J
*/strandsort/*.J
*/treesort/*.J

*/bubblesort/bubblesort.hi
*/cocktailshakersort/cocktailshakersort.hi
*/combsort/combsort.hi
*/cyclesort/cyclesort.hi
*/gnomesort/gnomesort.hi
*/heapsort/heapsort.hi
*/insertionsort/insertionsort.hi
*/mergesort/mergesort.hi
*/oddevensort/oddevensort.hi
*/quicksort/quicksort.hi
*/selectionsort/selectionsort.hi
*/shellsort/shellsort.hi
*/strandsort/strandsort.hi
*/treesort/treesort.hi

*/bubblesort/bubblesort.o
*/cocktailshakersort/cocktailshakersort.o
*/combsort/combsort.o
*/cyclesort/cyclesort.o
*/gnomesort/gnomesort.o
*/heapsort/heapsort.o
*/insertionsort/insertionsort.o
*/mergesort/mergesort.o
*/oddevensort/oddevensort.o
*/quicksort/quicksort.o
*/selectionsort/selectionsort.o
*/shellsort/shellsort.o
*/strandsort/strandsort.o
*/treesort/treesort.o

RAPL/main
RAPL/main.o
RAPL/rapl.o
