*.exe
*/bubblesort/bubblesort
*/bubblesort/bubblesort_25000
*/bubblesort/bubblesort_50000
*/bubblesort/bubblesort_100000
*/cocktailshakersort/cocktailshakersort
*/cocktailshakersort/cocktailshakersort_25000
*/cocktailshakersort/cocktailshakersort_50000
*/cocktailshakersort/cocktailshakersort_100000
*/combsort/combsort
*/combsort/combsort_25000
*/combsort/combsort_50000
*/combsort/combsort_100000
*/cyclesort/cyclesort
*/cyclesort/cyclesort_25000
*/cyclesort/cyclesort_50000
*/cyclesort/cyclesort_100000
*/gnomesort/gnomesort
*/gnomesort/gnomesort_25000
*/gnomesort/gnomesort_50000
*/gnomesort/gnomesort_100000
*/heapsort/heapsort
*/heapsort/heapsort_25000
*/heapsort/heapsort_50000
*/heapsort/heapsort_100000
*/insertionsort/insertionsort
*/insertionsort/insertionsort_25000
*/insertionsort/insertionsort_50000
*/insertionsort/insertionsort_100000
*/mergesort/mergesort
*/mergesort/mergesort_25000
*/mergesort/mergesort_50000
*/mergesort/mergesort_100000
*/oddevensort/oddevensort
*/oddevensort/oddevensort_25000
*/oddevensort/oddevensort_50000
*/oddevensort/oddevensort_100000
*/quicksort/quicksort
*/quicksort/quicksort_25000
*/quicksort/quicksort_50000
*/quicksort/quicksort_100000
*/selectionsort/selectionsort
*/selectionsort/selectionsort_25000
*/selectionsort/selectionsort_50000
*/selectionsort/selectionsort_100000
*/shellsort/shellsort
*/shellsort/shellsort_25000
*/shellsort/shellsort_50000
*/shellsort/shellsort_100000
*/strandsort/strandsort
*/strandsort/strandsort_25000
*/strandsort/strandsort_50000
*/strandsort/strandsort_100000
*/treesort/treesort
*/treesort/treesort_25000
*/treesort/treesort_50000
*/treesort/treesort_100000

*/bubblesort/*.J
*/cocktailshakersort/*.J
*/combsort/*.J
*/cyclesort/*.J
*/gnomesort/*.J
*/heapsort/*.J
*/insertionsort/*.J
*/mergesort/*.J
*/oddevensort/*.J
*/quicksort/*.J
*/selectionsort/*.J
*/shellsort/*.J
*/strandsort/*.J
*/treesort/*.J

*/Haskell/*/*.hi
*/Haskell/*/*.o

RAPL/main
test.c
a.out 
