*.exe
*/bubblesort/bubblesort
*/bubblesort/bubblesort_25000
*/bubblesort/bubblesort_100000
*/bubblesort/bubblesort_250000
*/cocktailshakersort/cocktailshakersort
*/cocktailshakersort/cocktailshakersort_25000
*/cocktailshakersort/cocktailshakersort_100000
*/cocktailshakersort/cocktailshakersort_250000
*/combsort/combsort
*/combsort/combsort_25000
*/combsort/combsort_100000
*/combsort/combsort_250000
*/cyclesort/cyclesort
*/cyclesort/cyclesort_25000
*/cyclesort/cyclesort_100000
*/cyclesort/cyclesort_250000
*/gnomesort/gnomesort
*/gnomesort/gnomesort_25000
*/gnomesort/gnomesort_100000
*/gnomesort/gnomesort_250000
*/heapsort/heapsort
*/heapsort/heapsort_25000
*/heapsort/heapsort_100000
*/heapsort/heapsort_250000
*/insertionsort/insertionsort
*/insertionsort/insertionsort_25000
*/insertionsort/insertionsort_100000
*/insertionsort/insertionsort_250000
*/mergesort/mergesort
*/mergesort/mergesort_25000
*/mergesort/mergesort_100000
*/mergesort/mergesort_250000
*/oddevensort/oddevensort
*/oddevensort/oddevensort_25000
*/oddevensort/oddevensort_100000
*/oddevensort/oddevensort_250000
*/quicksort/quicksort
*/quicksort/quicksort_25000
*/quicksort/quicksort_100000
*/quicksort/quicksort_250000
*/selectionsort/selectionsort
*/selectionsort/selectionsort_25000
*/selectionsort/selectionsort_100000
*/selectionsort/selectionsort_250000
*/shellsort/shellsort
*/shellsort/shellsort_25000
*/shellsort/shellsort_100000
*/shellsort/shellsort_250000
*/strandsort/strandsort
*/strandsort/strandsort_25000
*/strandsort/strandsort_100000
*/strandsort/strandsort_250000
*/treesort/treesort
*/treesort/treesort_25000
*/treesort/treesort_100000
*/treesort/treesort_250000

*/bubblesort/*.J
*/cocktailshakersort/*.J
*/combsort/*.J
*/cyclesort/*.J
*/gnomesort/*.J
*/heapsort/*.J
*/insertionsort/*.J
*/mergesort/*.J
*/oddevensort/*.J
*/quicksort/*.J
*/selectionsort/*.J
*/shellsort/*.J
*/strandsort/*.J
*/treesort/*.J

*/bubblesort/bubblesort.hi
*/cocktailshakersort/cocktailshakersort.hi
*/combsort/combsort.hi
*/cyclesort/cyclesort.hi
*/gnomesort/gnomesort.hi
*/heapsort/heapsort.hi
*/insertionsort/insertionsort.hi
*/mergesort/mergesort.hi
*/oddevensort/oddevensort.hi
*/quicksort/quicksort.hi
*/selectionsort/selectionsort.hi
*/shellsort/shellsort.hi
*/strandsort/strandsort.hi
*/treesort/treesort.hi

*/bubblesort/bubblesort.o
*/cocktailshakersort/cocktailshakersort.o
*/combsort/combsort.o
*/cyclesort/cyclesort.o
*/gnomesort/gnomesort.o
*/heapsort/heapsort.o
*/insertionsort/insertionsort.o
*/mergesort/mergesort.o
*/oddevensort/oddevensort.o
*/quicksort/quicksort.o
*/selectionsort/selectionsort.o
*/shellsort/shellsort.o
*/strandsort/strandsort.o
*/treesort/treesort.o

RAPL/main
RAPL/main.o
RAPL/rapl.o
test.c
a.out 
